.footer {
  background-color: black;
  padding: 1rem;
  text-align: left;
  color: white;
  border-top:1rem;
  border-style: solid;
  border-color: var(--color-brand);
  border-left:  0;
  border-bottom: 0;
  border-right: 0;
}

.logo {
  height: 7em;
  width: auto;
  max-width: 100%;
}

.footerLinks {
  list-style-type: none;
  text-decoration: underline;
  font-size: 0.9em;
  line-height: 1.5em;
}

.footerMenu {
  padding-left: 12em;
}