.wrapper {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #111111;
  color: white;
  font-size: 1.125rem;
}

.logo {
  height: 75px;
  width: auto;
}

.logoTitle {
  font-size: xx-large;
  font-family: "tumba-text-variable", sans-serif;
  font-variation-settings: "wght" 400;
  color:plum;
}