@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
}

body {
  --color-brand: plum;
  --secondary-color:#e6d7ff;
  --color-neutral-10: #F2F4F6;
  --color-neutral-60: #424446;
  --color-neutral-70: #222426;
  --color-neutral-90: #121416;
  --color-neutral-100: #181818;
  font-family: "new-order", sans-serif;
  font-weight: 400;
  font-style: normal;
  --font-primary: "new-order", sans-serif;
  font-family: var(--font-primary);
  color: var(--color-neutral-10);
  font-size: 1.125rem;
  line-height: 1.75rem;
  background-color: var(--color-neutral-100);
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  border-width: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin-bottom: 1rem;
}

h1 {
  font-family: "tumba-text-variable";
  font-weight: 700;
  font-size: 3rem;
  line-height: 4rem;
  margin-bottom: 2rem;
}

.title {
  font-family: "tumba-text-variable";
  font-variation-settings: "wght" 400;
  font-size: 2rem;
}

.button {
  display: flex;
  border: 1px;
  border-radius: 0.75em;
  background-color: var(--color-brand);
  color: white;
  padding: 0.5rem 1rem;
  max-width: fit-content;
  align-items: center;
  gap:0.5rem;
  text-transform: uppercase;
  font-family: 'tumba-text-variable';
  border: 2px solid var(--color-brand);
  border-radius: 1em;
  color: white;
  padding: 0.5rem 1rem;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.border-button {
  display: inline-block;
  border: 2px;
  border-radius: 0.75em;
  border-style: dotted;
  padding: 0.5rem 1rem;
}

audio {
  background-color: #181818;
  color: green;
}

audio::-webkit-media-controls-enclosure {
  border-radius: 5px;
  background-color: white;
  filter:invert(100%);
}
.button-white {
  display: inline-block;
  border: 2px;
  border-radius: 0.75em;
  background-color: var(--color-brand);
  color: white;
  padding: 0.5rem 1rem;
  border-color: white;
  border-style: solid;
}

.button-white:hover {
  opacity: 80%;
}

.link {
  color: var(--color-brand);
}

.link:hover {
  text-decoration: underline;
}

input,
textarea {
  width: 100%;
  padding: 0.5em;
  margin-block: 0.25em;
  font-size: 1em;
  border: 1px solid var(--color-neutral-60);
  border-radius: 0.5rem;
  resize: none;
  transition: border-color 0.5s ease;
}

input:focus,
textarea:focus {
  outline: none;
  border: 2px solid var(--color-brand);
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand);
}