.mainImage {
  margin: auto;
  max-width: 150px;
  height:auto;
}

.introText{
  padding:5rem;
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large;
  font-variant-ligatures: additional-ligatures;
  color:palegoldenrod;
}

.title {
  text-align: center;
  margin:auto;
  font-size: xx-large;
  font-family: cursive;
  margin-top:0;
  margin-bottom:3rem;
}

.episode {
  margin:auto;
  display: inline-block;
  width: 19.5%;
  float: none;
  height: 100%;
  margin: 0 0.5%;
  display: inline-block;
  zoom: 1;
}

.scroll {
  white-space: nowrap;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.image {
  max-width:auto;
  margin:auto;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  filter:invert(10%);
}

.episodeTitle {
  font-size: xx-large;
  font-weight:600;
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
  text-align: left;
}
.audio {
  margin:auto;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  max-width: fit-content;
}

.preview {
  height:2rem;
}

.episodeLink {
  margin:auto;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  max-width: fit-content;
}

.highlightedImage {
  max-width:500px;
  margin-left: 0;
  padding-left: 0;
  height:auto;
  filter:invert(10%);
}

.imageWrapper {
  margin-bottom: 1rem;
}

.link {
  color:plum;
  text-decoration: underline;
}

.description {
  margin:1rem;
  max-height: 400px;
  max-width: 400px;
  font-size: relative;
}

.transcripts {
  margin:auto;
  max-width: fit-content;
}
/* 
.episodes {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap:2rem;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
} */

.releaseDate {
  text-align: left;
  margin-bottom: 1.5rem;
  font-size: larger;
}

.separator {
  margin-right:4rem;
  min-height: 3px;
  margin-bottom: 2rem;
}

.audio {
  margin:auto;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  max-width: fit-content;
}

.episodeLink {
  margin:auto;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  max-width: fit-content;
}

.link {
  color:white;
  text-decoration: none;
}

.link:hover{
  text-decoration: underline;
}

.description {
  margin:1rem;
  max-height: 400px;
  max-width: 400px;
  font-size: relative;
}

.transcripts {
  margin:auto;
  max-width: fit-content;
}