.mainImage {
  margin: auto;
  max-width: 150px;
  height:auto;
}

.introText{
  padding:5rem;
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large;
  font-variant-ligatures: additional-ligatures;
  color:palegoldenrod;
}

.title {
  text-align: center;
  margin:auto;
  font-size: xx-large;
  font-family: "tumba-text-variable", sans-serif;
  font-variation-settings: "wght" 400;  margin-top:0;
  margin-bottom:3rem;
}

.episode {
  margin:auto;
  display: inline-block;
  width: 19%;
  float: none;
  height: 100%;
  margin: 0 0.5%;
  zoom: 1;
}

.scroll {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-left: -0.25em;
}

.scroll::-webkit-scrollbar { 
  display: none; 
}

.leftArrow {
  height:2.5rem;
  width:2.5em;
  color:green;
  margin-left: -3rem;
}

.rightArrow {
  height:2.5rem;
  width:2.5em;
  color:green;
  margin-right: -3rem;
}

.leftArrow:hover {
  color:plum;
  cursor:pointer;
}

.rightArrow:hover {
  color:plum;
  cursor:pointer;
}

.episodes {
  display: flex;
  align-items: center;
}

.image {
  max-width:auto;
  margin:auto;
  border-style: solid;
  border-color: #242225;
  border-width: 1px;
  filter:invert(10%);
}

.image:hover{
  cursor:pointer;
}

.episodeTitle {
  font-weight:500;
  font-family: 'tumba-text-variable', sans-serif;
  text-transform: uppercase;
}

.audio {
  display: inline-flex;
  align-content:center;
  max-width: fit-content;
  margin-bottom: 2rem;
}

.preview {
  height:2rem;
}

.episodeLink {
  margin:auto;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  max-width: fit-content;
}

.highlightedImage {
  max-width:500px;
  height:auto;
  filter:invert(10%);
  padding: 1rem;
  border-style: solid;
  border-color: #242225;
  border-width: 1px;
}

.imageWrapper {
  margin-bottom: 1rem;
}

.episodeLink {
  margin:auto;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  max-width: fit-content;
}

.link {
  color:white;
  text-decoration: none;
}

.link:hover{
  color:plum;
}

.transcripts {
  margin:auto;
  max-width: fit-content;
}