.episodes {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap:2rem;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    width:100%;
}

.episodeName {
    margin-left:0.5rem;
}

.episode {
    display:flex;
    align-items: center;
    color:plum;
}

.spaceApart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:plum;
}

.spaceApart:hover {
    opacity: 0.75;
}

.audio {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    color:plum;
}

.mediaIcon:hover{
    color:plum;
}

.latestEpisodeName {
    color:plum;
    margin-top:1rem;
}

.episodeUnderline {
    height:1px;
    margin-left:2rem;
    margin-bottom: 1rem;
    background-color: plum;
}

.highlight {
    margin:auto;
    margin-bottom:10rem;
    border-color: plum;
    border-style: solid;
    border-width: 1px;
}

.releaseDate {
    justify-content: center;
    justify-items: center;
    justify-self: center;
    text-align: left;
    margin-bottom:3rem;
}
.topImage {
    max-width:300px;
    margin:auto;
    border-width: 2px;
    border-color:gray;;
    border-style:solid;
}

.image {
    max-width:500px;
    filter: invert(10%);
}

.showTitle {
    text-align: left;
    font-size: xx-large;
    font-family: 'tumba-text-variable', sans-serif;
    font-weight: 500;
    color:white;
    
}

.showUnderline {
    margin-bottom:2rem;
    margin-top: 1rem;
}

.title {
    text-align: left;
    font-size: x-large;
    line-height: 2rem;
    font-weight:500;
    font-family:'tumba-text-variable', sans-serif;
    margin-top: 1rem;
}

.spacer {
    border-bottom:0;
    border-style:none;
    border-color:green;
    margin:auto;
    margin-top:7rem;
    margin-bottom:7rem;
}

.castList {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted white;
    line-height: 1.25rem;
    margin-top:0.75rem;
}

.mediaTitle {
    padding-bottom:1rem;
    font-size: x-large;
    font-family: 'tumba-text-variable', sans-serif;
    font-weight: 500;
}

.icons {
    display:flex;
    gap:2rem;
    align-items: center;
    font-size: larger;
}

.mediaIcon {
    height:2rem;
}

.closeFit {
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.episodeLink {
    margin:auto;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    max-width: fit-content;
}

.link {
    color: white;
    font-size: large;
    text-align: left;
    padding:0.5rem;
    display: flex;
}

.preview {
    height:2rem;
  }

.link:hover {
    text-decoration: underline;
    color: plum;
}

.spaceTop {
    margin-bottom:2rem;
    margin-top: 3rem;
}

.producer {
    margin-top:2rem;
    margin-bottom:2rem;
}

.castHeader {
    font-family: 'tumba-text-variable', sans-serif;
    font-weight: 500;
    font-size: larger;
    padding-top:1rem;
    padding-bottom:1rem;
}

.spaceBottom {
    margin-bottom: 2rem;
    margin-top:1rem;
}

.description {
    margin:1rem;
    font-size: large;
    margin:auto;
    margin-bottom:2rem;
}

.transcripts {
    margin:auto;
    max-width: fit-content;
}

/* Tooltip text */
.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: aqua;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}