.episodes {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap:2rem;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

.episode {
    /* max-width:400px; */
    margin:auto;
    margin-bottom:10rem;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
}

.highlight {
    margin:auto;
    margin-bottom:10rem;
    border-color: plum;
    border-style: solid;
    border-width: 1px;
}

.releaseDate {
    justify-content: center;
    justify-items: center;
    justify-self: center;
    text-align: left;
    margin-bottom:3rem;
}
.topImage {
    max-width:300px;
    margin:auto;
    border-width: 5px;
    border-color:gray;;
    border-style:solid;
}

.image {
    max-width:500px;
    margin:auto;
}

.showTitle {
    text-align: center;
    font-size: xx-large;
    font-family: cursive;
    color:plum;
    margin-bottom:2rem;
}

.title {
    text-align: right;
    font-size: x-large;
    line-height: 2rem;
    font-weight:600;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.spacer {
    border-bottom:2px;
    border-style:dotted;
    border-color:green;
    margin-top:10rem;
    margin-bottom:5rem;
}

.audio {
    margin:auto;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    max-width: fit-content;
}

.episodeLink {
    margin:auto;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    max-width: fit-content;
}

.link {
    color:plum;
    text-decoration: underline;
}

.description {
    margin:1rem;
    font-size: larger;
    margin:auto;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom:2rem;
}

.transcripts {
    margin:auto;
    max-width: fit-content;
}