.episodes {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap:2rem;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

.episode {
    max-width:400px;
    margin:auto;
}

.image {
    max-width:300px;
    margin:auto;
}

.title {
    text-align: center;
    font-size: x-large;
    line-height: 2rem;
    font-weight:600;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.audio {
    margin:auto;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    max-width: fit-content;
}

.episodeLink {
    margin:auto;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    max-width: fit-content;
}

.link {
    color:green;
    text-decoration: underline;
}

.description {
    margin:1rem;
}